### Implementing Portfolio Insurance (CPPI) and Drawdown Constraints

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import edhec_risk_kit as erk
import numpy as np
import pandas as pd

# Load the industry returns and the total market index we previously created
ind_return = erk.get_ind_returns()
tmi_return = erk.get_total_market_index_returns()

In [3]:
# risky assets
risky_r = ind_return['2000':][['Steel', 'Fin', 'Beer']]
# safe assets
safe_r = pd.DataFrame().reindex_like(risky_r)
safe_r[:] = 0.03/12

In [4]:
safe_r.shape

(228, 3)

In [5]:
start = 1000
floor = 0.8

1. Cushion: (Asset Value minus Floor Value)
2. Compute an allocation to Safe and Risky Assets --> m * risk budget
3. Recompute the Asset Value based on the returns

In [6]:
dates = risky_r.index
n_steps = len(dates)
account_value = start
floor_value = start*floor
m = 3

account_history = pd.DataFrame().reindex_like(risky_r)
cushion_history = pd.DataFrame().reindex_like(risky_r)
risky_w_history = pd.DataFrame().reindex_like(risky_r)

for step in range(n_steps):
    cushion = (account_value - floor_value)/account_value
    risky_w = m * cushion
    # constrain the risky asset weight between 0 and 1, so that we don't borrow money for investment (if risky_w > 1)
    # or short sell (if risky_w < 0)
    risky_w = np.minimum(risky_w, 1)
    risky_w = np.maximum(risky_w, 0)
    safe_w = 1 - risky_w
    risky_alloc = account_value * risky_w
    safe_alloc = account_value * safe_w
    # update the account value for this time step
    account_value = risky_alloc * (1 + risky_r.iloc[step]) + safe_alloc * (1 + safe_r.iloc[step])
    # save the values so we can look at the history and plot it
    cushion_history.iloc[step] = cushion
    risky_w_history.iloc[step] = risky_w
    account_history.iloc[step] = account_value

In [7]:
account_history.head()

               Steel          Fin        Beer
2000-01   984.380000   974.480000  987.320000
2000-02  1023.292876   931.167544  922.971256
2000-03  1047.555176   998.187296  924.835988
2000-04  1042.079009   973.927479  939.993701
2000-05  1007.137753  1001.460033  991.145489

In [9]:
risky_wealth = start * (1 + risky_r).cumprod()
risky_wealth

               Steel          Fin         Beer
2000-01   972.300000   955.800000   977.200000
2000-02  1038.805320   874.652580   863.453920
2000-03  1075.059626  1020.632096   864.576410
2000-04  1066.029125   977.255232   896.392822
2000-05  1013.580492  1026.704346  1002.794650
...              ...          ...          ...
2018-08  1306.624224  3283.129665  4629.014147
2018-09  1297.869842  3219.765263  4637.809274
2018-10  1147.187153  3044.288056  4564.995669
2018-11  1112.771539  3132.267981  4829.308918
2018-12   948.303905  2773.936524  4361.348884

[228 rows x 3 columns]